
@{
    ViewData["Title"] = "QueryOptions";
}

<h1>Query Options</h1>



<div>
    <!-- Button 0 InvoiceSummary -->
   <!-- Change to a GET form -->
   <form method="get" action="@Url.Action("InvoiceSummary", "MongoDb")">
       <!-- Optionally include any other query parameters as hidden fields -->
       <button type="submit" class="btn btn-primary">InvoiceSummary</button>
   </form>


   <!-- Button 1 - SalesByProduct -->
   <form method="get" action="@Url.Action("SalesByProduct", "MongoDb")">
       <button type="submit" class="btn btn-primary">SalesByProduct</button>
   </form>


       <!-- Button 2 - TotalSalesByCountry -->

   <form method="get" action="@Url.Action("TotalSalesByCountry", "MongoDb")">
       <button type="submit" class="btn btn-primary">TotalSalesByCountry</button>
   </form>
    
    <!-- Button 3 - CustomerLifetimeValue -->
       <form method="get" action="@Url.Action("CustomerLifetimeValue", "MongoDb")">
           <button type="submit" class="btn btn-primary">CustomerLifetimeValue</button>
       </form>
    
        <!-- Button 4 - CustomerLifetimeValue -->

     <form method="get" action="@Url.Action("SalesTrends", "MongoDb")">
           <!-- Optionally include any other query parameters as hidden fields -->
           <button type="submit" class="btn btn-primary">SalesTrends</button>
       </form>

    <!-- ... up to Button 10 -->
</div>