@model SortViewModel<Site.ViewModels.ProductSalesViewModel>

@{
    ViewData["Title"] = "Sales by Product";
    int currentPage = ViewBag.CurrentPage as int? ?? 1;
    int totalPages = ViewBag.TotalPages as int? ?? 1;
    int startPage = Math.Max(1, currentPage - 2);
    int endPage = Math.Min(totalPages, startPage + 4);
    int pageSize = ViewBag.PageSize as int? ?? 10;
}

<h1>@ViewData["Title"]</h1>
<p class="text-info">Currently sorted by: <strong>@Model.SortCriteria.FirstOrDefault()?.Field</strong> in <strong>@(Model.SortCriteria.FirstOrDefault()?.Direction.ToUpper())</strong> order.</p>

<p class="text-muted">Sort by clicking on the column headers.</p>

<table class="table">
    <thead>
    <tr>
        <th scope="col">
                       <a class="btn btn-light btn-block text-left" role="button"
                          href="@Url.Action("SalesByAllProducts", new { sortField = "ProductStockCode", sortOrder = Model.SortCriteria.FirstOrDefault(c => c.Field == "ProductStockCode")?.Direction == "asc" ? "desc" : "asc", pageNumber = currentPage, pageSize = pageSize })">
                           StockCode
                       </a>
                   </th>
                   <th scope="col">
                       <a class="btn btn-light btn-block text-left" role="button"
                          href="@Url.Action("SalesByAllProducts", new { sortField = "Quantity", sortOrder = Model.SortCriteria.FirstOrDefault(c => c.Field == "Quantity")?.Direction == "asc" ? "desc" : "asc", pageNumber = currentPage, pageSize = pageSize })">
                           Quantity
                       </a>
                   </th>
                   <th scope="col">
                       <a class="btn btn-light btn-block text-left" role="button"
                          href="@Url.Action("SalesByAllProducts", new { sortField = "UnitPrice", sortOrder = Model.SortCriteria.FirstOrDefault(c => c.Field == "UnitPrice")?.Direction == "asc" ? "desc" : "asc", pageNumber = currentPage, pageSize = pageSize })">
                           UnitPrice
                       </a>
                   </th>
                   <th scope="col">
                       <a class="btn btn-light btn-block text-left" role="button"
                          href="@Url.Action("SalesByAllProducts", new { sortField = "TotalAmount", sortOrder = Model.SortCriteria.FirstOrDefault(c => c.Field == "TotalAmount")?.Direction == "asc" ? "desc" : "asc", pageNumber = currentPage, pageSize = pageSize })">
                           TotalPrice
                       </a>
                   </th>
                   
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Data)
    {
        <tr>
            <td>@item.ProductStockCode</td>
            <td>@item.Quantity</td>
            <td>@item.UnitPrice</td>
            <td>@item.TotalAmount</td>
        </tr>
    }
    </tbody>
</table>

<div>
    @if (currentPage > 1)
    {
        <a asp-action="SalesByAllProducts" asp-controller="Redis"
           asp-route-pageNumber="@(currentPage - 1)" asp-route-pageSize="@pageSize"
           asp-route-sortField="@Model.SortCriteria.FirstOrDefault()?.Field"
           asp-route-sortOrder="@Model.SortCriteria.FirstOrDefault()?.Direction">
           Previous
        </a>
    }

    @for (int i = startPage; i <= endPage; i++)
    {
        <a asp-action="SalesByAllProducts" asp-controller="Redis"
           asp-route-pageNumber="@i" asp-route-pageSize="@pageSize"
           asp-route-sortField="@Model.SortCriteria.FirstOrDefault()?.Field"
           asp-route-sortOrder="@Model.SortCriteria.FirstOrDefault()?.Direction"
           class="@(i == currentPage ? "active" : "")">
           @i
        </a>
    }

    @if (currentPage < totalPages && Model.Data.Any())
    {
        <a asp-action="SalesByAllProducts" asp-controller="Redis"
           asp-route-pageNumber="@(currentPage + 1)" asp-route-pageSize="@pageSize"
           asp-route-sortField="@Model.SortCriteria.FirstOrDefault()?.Field"
           asp-route-sortOrder="@Model.SortCriteria.FirstOrDefault()?.Direction">
           Next
        </a>
    }
</div>
<a class="btn btn-danger" href="@Url.Action("QueryOptions", "Redis")">Back</a>
